 /*Global*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: url('../img/paper.jpg');
}

a {
  text-decoration: none;
}

.clearfix {
  clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;
}

/* Main Text Styles*/

body {
  color: #332828;
  margin: 0;
  font: 1em/1.5 Ubuntu, Helvetica, Arial, sans-serif;
}

h1, h3, h4 {
	color: black;
	text-align: center;
}

h1 {  
  font-size: 2.25em; /* 32px/16px  */
  font-weight: normal;
  color: #A30018;
  margin-bottom: -.5em;
}

h2 {
  font-size: 1.5em; /* 24px/16px  */
  font-weight: normal;
  margin: 1.5em 0 -.5em;

}

h3 {
  font-size: 1em; /* 20px/16px  */
  margin: 1.5em 0 -.25em;
  color: #48525c;

}

h4 {
	font-size: .75em;
	margin: -.1em 0 0;
  color: #48525c;
}

p {
	font-size: 1em; /* 16px  */
}

ul {
	font-size: 1em; /* 20px/16px  */
}

.bullet {
  list-style-image: url("../img/bullet.png");
}

header {

}

header img {
  position: relative;
  top: 30px;
  left: 62px;
}

/* Main Styles */

div {
  background: radial-gradient(circle at top, white, #EEEEEE 80%);
/*  width: 940px;*/
  margin: 0 auto 50px;
  padding: 15px 125px;
  box-shadow: 0 15px 20px -12px rgba(0,0,0, .7);
  border-radius: 5px;
}

.container {
	max-width: 95%;
	margin: 2.5% 2.5% 0;
}

.context {
	width: 28.75%;
	display: inline-block;
	margin: 0 1.25% 0 0;
}

.doc {
	width: 68.75%;
	display: inline-block;
	margin: 0 0 0 1.25%;

	float: right;
}

.doc div {
  padding: 0;
}

.doc div img {
	width: 100%;
}

.footer {
	margin-top: 100px;
	background: #48525c;
	text-align: right;
	padding: 1px 30px 15px;

	position: relative;
	bottom: 0;
}

.footer p {
	color: gray;
	margin-bottom: -.25em;
}

/* Media Queries ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Desktop - Smaller */

@media screen and (max-width: 1950px) {
  div {
    padding: 15px 50px;
  }
}
/* eff you, columns */
@media screen and (max-width: 1610px) {
  .programs {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
/* eff you, clearfix */
@media screen and (max-width: 1350px) {
  .blocks {
    padding: 15px 30px;
  }
}

/* Tablet - Larger */

@media screen and (max-width: 1220px) {
  .main-header {
    width: 683.2px;
    background-size: contain;
  }  
  .blocks {
    max-width: 100%;
  }
  .blocks:last-child {
  float: none;
  }
  div {
    padding: 15px 125px;
  }

  .programs {
    margin-left: -40px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  .programs {
    padding-left: 65px;
  }

  .gallery {
    width: 780px;
  }
  .thumbnail {
    margin: 30px 28px;
  }
}

/* Tablet - Smaller*/ 

@media screen and (max-width: 786px) {
  .main-header {
    width: 90%;
    height: 310px;
  }
  nav {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  nav ul {
    padding-left: 0;
  }
  nav a {
    padding: 20px 13px;
  }
  nav a.selected {
    background: transparent;
  }

  div {
    padding: 15px 50px;
  }
  .programs {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  .gallery {
    width: 476px;
  }
  .thumbnail {
    margin: 30px 16px;
  }
}

/* Mobile */

@media screen and (max-width: 480px) {
  .main-header {
    margin-bottom: 0;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1em;
  }
  div {
    padding: 15px 25px;
  }
  nav {
    bottom: -17px;
  }
  nav ul {
    font-size: 1em;
  }
  nav a {
    padding: 20px 11px;
  }

  .container1 p {
    font-size: .75em;
  }
  .blocks a {
    font-size: .75em;
  }

  .gallery {
    width: 200px;
    margin: 0 auto;
  }
  .thumbnail {
    margin: 30px 16px;
  }

  .salutation {
    font-size: 1.5em;
  }
}












































