 /* font-size: ... /* 26px/16px = intended size/1em  */
/* RED CHOCOLATE #A30018 #332828 #665151 #CCA3A3 #EEBEBE */


/* circles, xpadding, div color/gradient, footer, hierarchy */

 /*Global*/

body {
	font-family: 'Ubuntu', sans-serif;
	background: url('../img/paper.jpg');
}

a {
  text-decoration: none;
}

/* Nav */

nav {
  text-align: right;
  padding: 10px 0;
  margin: 0 0 20px;
}

nav ul {
  list-style: none;
  margin: 150px 10px;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 15px 10px;
}


/* links */
a {
  color: #fff;
}

nav a {
  color: #48525c;
}

nav a.selected, nav a:hover {
  color: #A30018;
}

/* Bio */

/* Main Styles*/

body {
  color: #332828;
  margin: 0;
  font: 1em/1.5 Ubuntu, Helvetica, Arial, sans-serif;
}

div {
  background: white;
  width: 50%;
  margin: 0 auto 50px;
  padding: 5px 50px;
  box-shadow: 0 15px 20px -12px rgba(0,0,0, .7);
  border-radius: 5px;
}

h1 {  
  font-size: 2em; /* 32px/16px  */
  color: #A30018;
  font-weight: normal;
}

h2 {
  font-size: 1.5em; /* 24px/16px  */
  font-weight: normal;
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
}

p {
	font-size: 1.25em; /* 20px/16px  */
}

ul {
	font-size: 1.25em; /* 20px/16px  */
}

ul.minors {
	list-style: none;
}

ul.bullet {
	list-style-image: url("../img/bullet.png");
}




.main-header {
  margin: 0 auto;
	padding-top: 100px;
	height: 200px; 
  width: 50%;
	background: transparent url('../img/heading.png') no-repeat center;
	background-size: ;
}

.footer {
  text-align: right;
  padding: 60px 20px 30px;
  border-bottom: 10px solid #48525c;



