 /*Global*/

body {
	font-family: 'Ubuntu', sans-serif;
}

/* Nav */

/* Bio */

/* Main Styles*/

.main-header {
	padding-top: 100px;
	height: 500px; 
	background: white url('../img/heading.png') no-repeat center;
	background-size: 10%;
} 



/* font-size: 5.24545465 /* 26px/16px  */
/* RED CHOCOLATE #A30018 #332828 #665151 #CCA3A3 #EEBEBE 